<h1>Changelog</h1>

<h2>v1.0.7</h2>
<p><small>Released on 7/11/2020</small></p>
<div class="changes-entry">
  <ul>
    <li>
      <span class="label label-round label-added text-light">Added</span>
      Ability to paste replies using the hotkeys (<code>Alt + 1, 2, 3</code>) was added.
      The can be overridden at the <abbr title="This page is available under the specified URL">chrome://extensions/shortcuts</abbr> page
    </li>
    <li>
      <span class="label label-round label-fixed text-light">Fixed</span> Display name value is now required (to address the requirement of non-empty context menu items, that could cause an issue)
    </li>
  </ul>
</div>

<h2>v1.0.6</h2>
<p><small>Released on 7/6/2020</small></p>
<div class="changes-entry">
  <ul>
    <li>
      <span class="label label-round label-added text-light">Added</span>
      List/tile view buttons were added to the replies page
    </li>
    <li>
      <span class="label label-round label-added text-light">Added</span>
      The changelog page was added
    </li>
    <li>
      <span class="label label-round label-added text-light">Added</span>
      Community links (<a
        href="https://github.com/FSou1/QuickReply"
        target="_blank"
        >GitHub</a
      >,
      <a
        href="https://chrome.google.com/webstore/detail/quickreply/enngmhjfhandgjeccahinpmjfmllklki"
        target="_blank"
        >Store</a
      >) were added to the nav
    </li>
  </ul>
</div>

<mat-divider></mat-divider>

<h2>v1.0.5</h2>
<p><small>Released on 7/4/2020</small></p>
<div class="changes-entry">
  <ul>
    <li>
      <span class="label label-round label-fixed text-light">Fixed</span> Reply
      variables are now case insensitive
    </li>
  </ul>
</div>

<mat-divider></mat-divider>

<h2>v1.0.4</h2>
<p><small>Released on 6/28/2020</small></p>
<div class="changes-entry">
  <ul>
    <li>
      <span class="label label-round label-changed text-light">Changed</span>
      JavaScript chrome files were replaced with TypeScript ones
    </li>
  </ul>
</div>
