.toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.mat-sidenav-container {
  background-color: #fff;
}

.mat-drawer-container[fullscreen] {
  top: 64px;
}

.sidenav {
  min-width: 200px;
  box-shadow: 6px 0 6px rgba(0,0,0,.1);
}

.sidenav-content-inner {
  padding: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.logo-button {
  height: 26px;
  margin: 0 4px 3px 0;
}