<h1>Replies</h1>

<mat-button-toggle-group #group="matButtonToggleGroup" value="tile">
  <mat-button-toggle value="tile" aria-label="Tile view">
    <mat-icon>view_module</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="list" aria-label="List view">
    <mat-icon>view_list</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<div *ngIf="group.value === 'list'">
  <app-list-view 
    [items]="data"
    (onUpdate)="update($event)"
    (onDelete)="delete($event)"></app-list-view>
</div>

<div *ngIf="group.value === 'tile'">
  <app-tile-view
    [items]="data"
    (onUpdate)="update($event)"
    (onDelete)="delete($event)"></app-tile-view>
</div>

<p *ngIf="data && data.length === 0">No quick replies yet. Add first!</p>

<button mat-fab color="primary" [routerLink]="'/options/replies/create'" class="fab_button">
  <mat-icon>add</mat-icon>
</button>