.fab_button {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.content {
  white-space: pre-line;
}